body {
  background: url("clouds.png"), linear-gradient(to bottom, #ffd6eb, #ffe6f7, #e6f2ff);
  background-repeat: repeat-x; /* Gjør at skyer går bortover */
  background-position: top;
  background-size: contain;
}

nav {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #414a54;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1165c0;
}