body {
  {
  background-image: url("bakgrunn.jgp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  height: 100vh;
  margin: 0;
}
}

nav {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #414a54;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1165c0;
}